h1 {
    text-align: center;
    color: rgb(137, 37, 119);
    font-size: 42px;
}
.image {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.image img {
  width: 500px; /* adjust the size as needed */
height: auto;
border-radius: 10px; /* optional: makes corners rounded */
} 

p{
    font-size: 24px;
    color: rgb(137, 37, 119);
    text-align: center; 
    max-width: 1200px;
    margin: 0 auto;
}

.three-columns {
  display: flex;
  flex-direction: column; /* ← this stacks them vertically */
  justify-content: space-between;
  gap: 20px; /* space between columns */
  padding: 20px;
}

.column {
  flex: 1;
  padding: 10px;
  background-color: #83acb5; /* optional background */
  border-radius: 8px;
}
.column h2{
  text-align: left;
  color: rgb(137, 37, 119);
  font-size: 28px;
}
.column img {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .three-columns {
    flex-direction: column;
  }
}


body{
    background-color:rgb(180, 163, 145); 
}
